@model MvcBook.Models.Book

@{
    ViewData["Title"] = "Создать";
    Layout = null;
}



<div class="modal-content">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReleaseDate" class="control-label"></label>
                        <input asp-for="ReleaseDate" class="form-control" />
                        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Autor" class="control-label"></label>
                        <select asp-for="AutorId" class="form-control" asp-items="Model.Authors"></select>
                        <span asp-validation-for="AutorId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Создать" class="btn btn-primary sub" />
                        <a asp-action="Index" style="float: right; margin-right: 25px; margin-top: 7px;"><span class="fa fa-arrow-left"></span></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}
